<%- await include('parts/header.ejs', locals) %>

<!-- Page CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.css" 
    integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="<%= resourcePath %>css/codemirror_lucario.css?txVer=<%= txAdminVersion %>">
<style>
    .cm-s-lucario{
        font-size: 1.05rem !important;
    }
    .CodeMirror{
        min-height: min(calc(100vh - 250px), 450px);
    }

    /* https://codemirror.net/5/addon/dialog/dialog.css */
    .CodeMirror-dialog {
        position: absolute;
        left: 0; right: 0;
        background: inherit;
        z-index: 15;
        padding: .1em .8em;
        overflow: hidden;
        color: inherit;
    }
    .CodeMirror-dialog-top {
        border-bottom: 1px solid #eee;
        top: 0;
    }
    .CodeMirror-dialog-bottom {
        border-top: 1px solid #eee;
        bottom: 0;
    }
    .CodeMirror-dialog input {
        border: none;
        outline: none;
        background: transparent;
        width: 20em;
        color: inherit;
        font-family: monospace;
    }
    .CodeMirror-dialog button {
        font-size: 70%;
    }
</style>


<div class="row justify-content-md-center">
    <div class="col-md-7 mw-col8">

        <!-- Settings Card -->
        <div class="card card-accent-danger">
            <div class="card-header font-weight-bold" style="border-bottom: 0px;">
                <ul class="nav nav-tabs card-header-tabs" id="tabSelector">
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'global' ? 'active' : '' %>" id="nav-global-tab" data-toggle="tab" href="#nav-global"
                            role="tab" aria-controls="nav-global" aria-selected="true">Global</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'fxserver' ? 'active' : '' %>" id="nav-fxserver-tab" data-toggle="tab" href="#nav-fxserver"
                            role="tab" aria-controls="nav-fxserver" aria-selected="true">FXServer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'monitor' ? 'active' : '' %>" id="nav-monitor-tab" data-toggle="tab" href="#nav-monitor"
                            role="tab" aria-controls="nav-monitor" aria-selected="true">Reinicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'playerManager' ? 'active' : '' %>" id="nav-playerManager-tab" data-toggle="tab" href="#nav-playerManager"
                            role="tab" aria-controls="nav-playerManager" aria-selected="true">
                            Gestion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'discord' ? 'active' : '' %>" id="nav-discord-tab" data-toggle="tab" href="#nav-discord"
                            role="tab" aria-controls="nav-discord" aria-selected="true">
                            Discord
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link <%= activeTab === 'menu' ? 'active' : '' %>" id="nav-menu-tab" data-toggle="tab" href="#nav-menu" role="tab" aria-controls="nav-menu" aria-selected="true">
                            Juego
                            <!-- DynamicNewBadge reference, but static -->
                            <span class="badge badge-danger" style="padding-left: 0.25rem; padding-right: 0.25rem;">Nuevo</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-body settings-card">
                <div class="tab-content" id="nav-tabContent">

                    <!-- MARK: Global Tab -->
                    <div class="tab-pane fade <%= activeTab === 'global' ? 'active show' : '' %>" id="nav-global" role="tabpanel"
                        aria-labelledby="nav-global-tab">
                        <div class="form-group row">
                            <label for="frmGlobal-serverName" class="col-sm-3 col-form-label">
                                Nombre del Servidor
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmGlobal-serverName"
                                    value="<%= (global.serverName !== 'undefined') ? global.serverName : '' %>" maxlength="24" placeholder="server name" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                   Un nombre <strong>corto</strong> que se utiliza para los mensajes y notificaciones.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmGlobal-language" class="col-sm-3 col-form-label">
                                Lenguaje
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="frmGlobal-language" <%= readOnly ? 'disabled' : '' %>>
                                    <% for (const locale of locales) { %>
                                        <option value="<%= locale.code %>" <%= global.language === locale.code ? 'selected' : '' %>><%= locale.label %></option>
                                    <% } %>
                                </select>
                                <span class="form-text text-muted">
                                    Lenguaje que se usa en las notificaciones y mensajes <br>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Plantilla de baneos
                            </label>
                            <div class="col-sm-9">
                                <button
                                    class="btn btn-sm btn-secondary"
                                    type="submit"
                                    onclick="navigateParentTo('/settings/ban-templates')"
                                >
                                    <i class="icon-pencil"></i> Editar plantilla
                                </button>
                                <span class="form-text text-muted">
                                    Configura y establece los baneos preestablecidos para diversas sanciones. Esto permite asignar un tiempo preestablecido a cada infraccion de forma mas rapida.
                                </span>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmGlobal-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Guardar ajustes
                            </button>
                        </div>
                    </div>

                    <!-- MARK: FXServer Tab -->
                    <div class="tab-pane fade <%= activeTab === 'fxServer' ? 'active show' : '' %>" id="nav-fxserver" role="tabpanel" aria-labelledby="nav-fxserver-tab">
                        <div class="form-group row">
                            <label for="frmFXServer-serverDataPath" class="col-sm-3 col-form-label">Carpeta de datos del servidor
                                <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmFXServer-serverDataPath" value="<%= fxserver.serverDataPath || '' %>"
                                    placeholder="C:/Users/Admin/Desktop/server01" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    El directorio que <strong>contiene</strong> los <code>recursos</code> y
                                    <code>cache</code> donde se encuentra el <code>server.cfg</code>. <br>
                                    <% if (isZapHosting) { %>
                                        <span class="font-weight-bold">ZAP-Hosting warning: this path must start with <code><%= txDataPath %></code>.</span>
                                    <% } %>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmFXServer-cfgPath" class="col-sm-3 col-form-label">Ruta de archivo CFG
                                <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmFXServer-cfgPath" value="<%= fxserver.cfgPath || '' %>"
                                    placeholder="C:/Users/Admin/Desktop/server01/server.cfg" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    La ruta a donde se encuentra el <code>server.cfg</code>. <br>
                                    Puede ser relativa o absoluta con respecto a la carpeta de datos.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmFXServer-commandLine" class="col-sm-3 col-form-label">
                                Argumentos opcionales
                            </label>
                            <div class="col-sm-9">
                                <textarea id="frmFXServer-commandLine" rows="1" class="form-control expandable-textarea" placeholder="+set sv_enforceGameBuild 2545" <%= readOnly ? 'disabled' : '' %>><%= fxserver.commandLine || '' %></textarea>
                                <span class="form-text text-muted">
                                    Argumentos adicionales que se pueden configurar en base a las necesidades del servidor. <strong>Contactar con un programador para configurar.</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmFXServer-onesync" class="col-sm-3 col-form-label">OneSync</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="frmFXServer-onesync" <%= readOnly ? 'disabled' : '' %>>
                                    <option value="off" <%= fxserver.onesync === 'off' ? 'selected' : '' %>>Apagado</option>
                                    <option value="legacy" <%= fxserver.onesync === 'legacy' ? 'selected' : '' %>>Legacy</option>
                                    <option value="on" <%= fxserver.onesync === 'on' ? 'selected' : '' %>>Infinity (Recomendado)</option>
                                </select>
                                <span class="form-text text-muted">
                                    Es obligatorio si el servidor esta establecido con mas de 48 slots.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Autoinicio</label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmFXServer-autostart"
                                        <%= fxserver.autostart || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Inicia el servidor <strong>luego</strong> de que el panel se inicie.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Modo silencioso</label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmFXServer-quiet"
                                        <%= fxserver.quiet || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    No se mostrara nada relacionado del Panel en la consola del servidor.
                                </span>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmFXServer-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Guardar ajustes
                            </button>
                        </div>
                    </div>

                    <!-- MARK: Restarter Tab -->
                    <div class="tab-pane fade <%= activeTab === 'monitor' ? 'active show' : '' %>" id="nav-monitor" role="tabpanel" aria-labelledby="nav-monitor-tab">
                        <div class="form-group row">
                            <label for="frmMonitor-resourceStartingTolerance" class="col-sm-3 col-form-label">
                                Tiempo maximo <br>
                                de inicio de un recurso
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="frmMonitor-resourceStartingTolerance" <%= readOnly ? 'disabled' : '' %>>
                                    <option value="90" <%= monitor.resourceStartingTolerance === 90 ? 'selected' : '' %>>1.5 minutos</option>
                                    <option value="180" <%= monitor.resourceStartingTolerance === 180 ? 'selected' : '' %>>3 minutos</option>
                                    <option value="300" <%= monitor.resourceStartingTolerance === 300 ? 'selected' : '' %>>5 minutos (Recomendado)</option>
                                    <option value="600" <%= monitor.resourceStartingTolerance === 600 ? 'selected' : '' %>>10 minutos</option>
                                </select>
                                <span class="form-text text-muted">
                                    Tiempo que se aplica a cada recurso en caso de que no se inicie de forma rapida y habitual. Cada recurso dependiendo de su tamaño puede tardar mas o menos.
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="frmMonitor-restarterSchedule" class="col-sm-3 col-form-label">Reinicios programados</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmMonitor-restarterSchedule" value="<%= monitor.restarterSchedule || '' %>"
                                    placeholder="05:00, 13:00" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-danger" id="frmMonitor-timezoneAlert"></span>
                                <span class="form-text text-muted">
                                    A que hora del dia se reinicia el servidor, usando el formato de 24 horas.
                                    (<code>HH:MM</code>), se deben separar los horarios con <strong>comas</strong> <br>
                                    <strong>Nota:</strong> Los reinicios se aplican en la zona horaria del servidor no tu hora local.
                                </span>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmMonitor-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Gurdar ajustes
                            </button>
                        </div>
                    </div>
                    
                    <!-- MARK: Player Manager Tab -->
                    <div class="tab-pane fade <%= activeTab === 'playerManager' ? 'active show' : '' %>" id="nav-playerManager" role="tabpanel" aria-labelledby="nav-playerManager-tab">
                        <div class="form-group row">
                            <label for="frmPlayerManager-whitelistMode" class="col-sm-3 col-form-label">
                                Modo Whitelist
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="frmPlayerManager-whitelistMode" <%= readOnly ? 'disabled' : '' %>>
                                    <option value="disabled" <%= playerDatabase.whitelistMode === 'disabled' ? 'selected' : '' %>>Deshabilitada</option>
                                    <option value="adminOnly" <%= playerDatabase.whitelistMode === 'adminOnly' ? 'selected' : '' %>>Solo admins</option>
                                    <option value="guildMember" <%= playerDatabase.whitelistMode === 'guildMember' ? 'selected' : '' %>>Miembro de Discord</option>
                                    <option value="guildRoles" <%= playerDatabase.whitelistMode === 'guildRoles' ? 'selected' : '' %>>Rol de Discord</option>
                                    <option value="approvedLicense" <%= playerDatabase.whitelistMode === 'approvedLicense' ? 'selected' : '' %>>Licencia aprobada</option>
                                </select>
                                <span class="form-text text-muted">
                                    <p class="form-text text-muted mb-2">
                                        <strong class="text-secondary">Deshabilitada:</strong> No se requiere nada para ingresar al servidor
                                    </p>
                                    <p class="form-text text-muted mb-2">
                                        <strong class="text-secondary">Solo admins:</strong> Solo los usuarios registrados en el <strong>panel</strong> podran entrar al servidor
                                    </p>
                                    <p class="form-text text-muted mb-2">
                                        <strong class="text-secondary">Miembro de Discord:</strong> Verifica si el usuario esta en el servidor de Discord configurado.
                                    </p>
                                    <p class="form-text text-muted mb-2">
                                        <strong class="text-secondary">Rol de Discord:</strong> Verifica si el usuario tiene un rol determinado en el servidor de Discord.
                                    </p>
                                    <p class="form-text text-muted mb-2">
                                        <strong class="text-secondary">Licencia:</strong> Verifica si el usuario tiene una licencia aprobada. La licencia se aprueba desde <a href="#" onclick="navigateParentTo('/whitelist')">Whitelists</a>, o con el comando <code>/whitelist</code> en Discord.
                                    </p>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmPlayerManager-whitelistRejectionMessage" class="col-sm-3 col-form-label">
                               Mensaje de Whitelist <br>
                                Mensaje de rechazo
                            </label>
                            <div class="col-sm-9">
                                <textarea id="frmPlayerManager-whitelistRejectionMessage" rows="3" class="form-control expandable-textarea" placeholder="Please join http://discord.gg/example and request to be whitelisted." <%= readOnly ? 'disabled' : '' %>><%= playerDatabase.whitelistRejectionMessage || '' %></textarea>
                                <span class="form-text text-muted">
                                    Mensaje opcional que se muestra al no tener una whitelist aprobada
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmPlayerManager-whitelistedDiscordRoles" class="col-sm-3 col-form-label">
                                Roles de Whitelist
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmPlayerManager-whitelistedDiscordRoles" value="<%= playerDatabase.whitelistedDiscordRoles || '' %>"
                                    placeholder="000000000000000000, 000000000000000000" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    Roles que estan aprobados para que el usuario pueda entrar. Debe estar activado el modo whitelist correspondiente.
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Chequeo de Ban
                            </label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmPlayerManager-onJoinCheckBan"
                                        <%= playerDatabase.onJoinCheckBan || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Verifica si el usuario ha sido baneado, esta opcion se necesita para que los Baneos del <strong>Panel</strong> funcionen.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmPlayerManager-requiredBanHwidMatches" class="col-sm-3 col-form-label">
                                Requerimiento <br>
                                de Coincidencias
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="frmPlayerManager-requiredBanHwidMatches" <%= readOnly ? 'disabled' : '' %>>
                                    <option value="1" <%= playerDatabase.requiredBanHwidMatches === 1 ? 'selected' : '' %>>1 - Recomendado</option>
                                    <option value="2" <%= playerDatabase.requiredBanHwidMatches === 2 ? 'selected' : '' %>>2 - Bajo</option>
                                    <option value="3" <%= playerDatabase.requiredBanHwidMatches === 3 ? 'selected' : '' %>>3 - Muy bajo</option>
                                    <option value="4" <%= playerDatabase.requiredBanHwidMatches === 4 ? 'selected' : '' %>>4 - Virtualmente deshabilitado</option>
                                    <option value="0" <%= playerDatabase.requiredBanHwidMatches === 0 ? 'selected' : '' %>>Desactivar coincidencias</option>
                                </select>
                                <span class="form-text text-muted">
                                    Verifica el nivel de coincidencias a nivel de Hardware permitiendo que las personas no se Spofeen y puedan evadir un baneo.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmPlayerManager-banRejectionMessage" class="col-sm-3 col-form-label">
                                Mensaje de <br>
                                rechazo por baneo
                            </label>
                            <div class="col-sm-9">
                                <textarea id="frmPlayerManager-banRejectionMessage" rows="3" class="form-control expandable-textarea" placeholder="You can join http://discord.gg/example to appeal this ban." <%= readOnly ? 'disabled' : '' %>><%= playerDatabase.banRejectionMessage || '' %></textarea>
                                <span class="form-text text-muted">
                                    Mensaje opcional que se muestra al ser rechazado el proceso de unirte por un baneo.
                                </span>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmPlayerManager-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Guardar ajustes
                            </button>
                        </div>
                    </div>

                    <!-- MARK: Discord Tab -->
                    <div class="tab-pane fade <%= activeTab === 'discord' ? 'active show' : '' %>" id="nav-discord" role="tabpanel" aria-labelledby="nav-discord-tab">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Activar Bot</label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmDiscord-enabled"
                                        <%= discord.enabled || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Integracion con Discord
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmDiscord-token" class="col-sm-3 col-form-label">
                                Token
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control blur-input" id="frmDiscord-token" 
                                    value="<%= readOnly ? '[redacted]' : (discord.token || '') %>"
                                    placeholder="xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxx"
                                    maxlength="96" autocomplete="off" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    Para obtener un token ve a:
                                    <a href="https://discordjs.guide/preparations/setting-up-a-bot-application.html"
                                        target="_blank" rel="noopener noreferrer">Como configurar un bot</a> y
                                    <a href="https://discordjs.guide/preparations/adding-your-bot-to-servers.html"
                                        target="_blank" rel="noopener noreferrer">Como añadir tu bot a un server</a> <br>
                                    <strong>Note:</strong> No rehuses el mismo token para otro bot  <br>
                                    <strong>Note:</strong> El bot requiere GUILD MEMBERS intent, que se configura en
                                    <a href="https://discord.com/developers/applications" target="_blank" rel="noopener noreferrer">Discord Developer Portal</a>.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmDiscord-guild" class="col-sm-3 col-form-label">
                                ID del Servidor (Desarrollador)
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="frmDiscord-guild"
                                    value="<%= discord.guild || '' %>" 
                                    placeholder="000000000000000000" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    ID del servidor de Discord.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmDiscord-announceChannel" class="col-sm-3 col-form-label">
                                Anuncios <br>
                                ID del canal <br>
                                <i class="text-info">(opcional)</i>
                            </label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="frmDiscord-announceChannel"
                                    value="<%= discord.announceChannel || '' %>" 
                                    placeholder="000000000000000000" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    ID del canal al cual se mandan las alertas del servidor
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Embed de Status
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-9">
                                <button
                                    class="btn btn-sm btn-secondary"
                                    type="submit"
                                    id="frmDiscord-editStatusEmbedJsonBtn"
                                    <%= readOnly ? 'disabled' : '' %>
                                >
                                    <i class="icon-pencil"></i> Cambiar JSON Embed
                                </button>
                                <button
                                    class="btn btn-sm btn-secondary"
                                    type="submit"
                                    id="frmDiscord-editStatusEmbedConfigJsonBtn"
                                    <%= readOnly ? 'disabled' : '' %>
                                >
                                    <i class="icon-pencil"></i> Cambiar Config JSON
                                </button>
                                <textarea
                                    id="frmDiscord-statusEmbedJson"
                                    class="d-none"
                                    autocomplete="off"
                                ><%= discord.embedJson || '' %></textarea>
                                <textarea
                                    id="frmDiscord-statusEmbedConfigJson"
                                    class="d-none"
                                    autocomplete="off"
                                ><%= discord.embedConfigJson || '' %></textarea>
                                <textarea
                                    id="frmDiscord-statusEmbedJsonDefault"
                                    class="d-none"
                                    autocomplete="off"
                                ><%= defaults.discord.embedJson || '' %></textarea>
                                <textarea
                                    id="frmDiscord-statusEmbedConfigJsonDefault"
                                    class="d-none"
                                    autocomplete="off"
                                ><%= defaults.discord.embedConfigJson || '' %></textarea>
                                <span class="form-text text-muted">
                                    El Embed customizable del servidor que se envia en Discord
                                    <strong>Nota:</strong> Usa el comando <code>/status add</code> para enviar el Embed al canal en el cual se ejecuta el comando.
                                </span>
                            </div>
                        </div>


                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmDiscord-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Guardar ajustes
                            </button>
                        </div>
                    </div>

                    <!-- MARK: Game/Menu Tab -->
                    <div class="tab-pane fade <%= activeTab === 'menu' ? 'active show' : '' %>" id="nav-menu" role="tabpanel" aria-labelledby="nav-menu-tab">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Habilitar menu</label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-enabled"
                                        <%= global.menuEnabled || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Cuando esta habilitado se puede utilizar el comando <code> /tx </code> en FiveM para utilizar el menu.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Menu a la derecha</label>
                            <div class="col-sm-9">
                                <label class="c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-alignRight"
                                        <%= global.menuAlignRight || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Mueve el menu a la derecha de la pantalla.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="frmMenu-pageKey" class="col-sm-3 col-form-label">Menu Page Switch Key</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="frmMenu-pageKey"
                                    value="<%= global.menuPageKey || '' %>"
                                    placeholder="578045190955335691" <%= readOnly ? 'disabled' : '' %>>
                                <span class="form-text text-muted">
                                    La telca utilizada para cambiar el menu del juego <br>
                                    Clickea cualquier tecla para asignarla. <br>
                                    <strong>Nota:</strong> La tecla default es <code>Tab</code>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Oculta el nombre de admin <br>
                                En sanciones <br>
                                <!-- DynamicNewBadge reference, but static -->
                                <span class="badge badge-danger" style="padding-left: 0.25rem; padding-right: 0.25rem;">Nuevo</span>
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideAdminInPunishments"
                                        <%= global.hideAdminInPunishments || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Oculta el nombre del Staff que sanciono al usuario ya sea con un BAN o Warn.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Ocultar nombre de admin <br>
                                En mensajes <br>
                                <!-- DynamicNewBadge reference, but static -->
                                <span class="badge badge-danger" style="padding-left: 0.25rem; padding-right: 0.25rem;">Nuevo</span>
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideAdminInMessages"
                                        <%= global.hideAdminInMessages || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Oculta el nombre del staff en los mensajes directos o Anuncios.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Ocultar anuncios <br>
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideDefaultAnnouncement"
                                        <%= global.hideDefaultAnnouncement || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Si" data-unchecked="No"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Suppresses the display of announcements, allowing you to implement your own announcement via the event <code>txAdmin:events:announcement</code>
                                    <a href="https://github.com/tabarra/txAdmin/blob/master/docs/menu.md" target="_blank" rel="noopener noreferrer">(docs page)</a>.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Hide Direct Message <br>
                                Notification
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideDefaultDirectMessage"
                                        <%= global.hideDefaultDirectMessage || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Hide" data-unchecked="Show"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Suppresses the display of direct messages, allowing you to implement your own direct message notification via the event <code>txAdmin:events:playerDirectMessage</code>
                                    <a href="https://github.com/tabarra/txAdmin/blob/master/docs/menu.md" target="_blank" rel="noopener noreferrer">(docs page)</a>.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Hide Warning <br>
                                Notification
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideDefaultWarning"
                                        <%= global.hideDefaultWarning || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Hide" data-unchecked="Show"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Suppresses the display of warnings, allowing you to implement your own warning via the event <code>txAdmin:events:playerWarned</code>
                                    <a href="https://github.com/tabarra/txAdmin/blob/master/docs/menu.md" target="_blank" rel="noopener noreferrer">(docs page)</a>.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Hide Scheduled Restart <br>
                                Warnings
                            </label>
                            <div class="col-sm-9">
                                <label class="switch-lg c-switch c-switch-label c-switch-pill c-switch-success fix-pill-form">
                                    <input class="c-switch-input" type="checkbox" id="frmMenu-hideDefaultScheduledRestartWarning"
                                        <%= global.hideDefaultScheduledRestartWarning || '' %> <%= readOnly ? 'disabled' : '' %>>
                                    <span class="c-switch-slider" data-checked="Hide" data-unchecked="Show"></span>
                                </label>
                                <span class="form-text text-muted">
                                    Suppresses the display of scheduled restart warnings, allowing you to implement your own warning via the event <code>txAdmin:events:scheduledRestart</code>
                                    <a href="https://github.com/tabarra/txAdmin/blob/master/docs/menu.md" target="_blank" rel="noopener noreferrer">(docs page)</a>.
                                </span>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-sm btn-primary" type="submit" id="frmMenu-save" <%= readOnly ? 'disabled' : '' %>>
                                <i class="icon-check"></i> Save Game Settings
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>


<%- await include('parts/footer.ejs', locals) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.js" 
    integrity="sha512-ZTpbCvmiv7Zt4rK0ltotRJVRaSBKFQHQTrwfs6DoYlBYzO1MA6Oz2WguC+LkV8pGiHraYLEpo7Paa+hoVbCfKw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%= resourcePath %>js/codeEditor/mode/yaml.js?txVer=<%= txAdminVersion %>"></script>
<script src="<%= resourcePath %>js/codeEditor/autorefresh.js?txVer=<%= txAdminVersion %>"></script>
<script src="<%= resourcePath %>js/codeEditor/searchcursor.js?txVer=<%= txAdminVersion %>"></script>
<script src="<%= resourcePath %>js/codeEditor/dialog.js?txVer=<%= txAdminVersion %>"></script>
<script src="<%= resourcePath %>js/codeEditor/search.js?txVer=<%= txAdminVersion %>"></script>

<!-- Embed JSON editors -->
<div class="modal fade" id="modJsonEditor" tabindex="-1" role="dialog" aria-labelledby="modJsonEditor-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: min(730px, calc(100% - 30px));">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modJsonEditor-title">JSON Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="modJsonEditor-infoBody">
                    <p class="text-center">
                        For information regarding the placeholders and how to customize the embed, refer to <a href="https://github.com/tabarra/txAdmin/blob/master/docs/status_embed.md" target="_blank" rel="noopener noreferrer">our docs</a>. <br>
                        If you are having issue with the JSON formatting, you can use <a href="https://jsoneditoronline.org" id="modJsonEditor-externalEditorBtn" target="_blank" rel="noopener noreferrer">https://jsoneditoronline.org/</a>.
                    </p>
                    <textarea id="modJsonEditor-cmTarget" class="cms-s-lucario" name="code"></textarea>
                </div>
            </div>
            
            <div class="modal-footer text-center">
                <div class="mx-auto">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary" id="modJsonEditor-revertBtn">Revert to Default</button>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-success" id="modJsonEditor-saveBtn">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MARK: Save-->
<script>
    //MARK: Save General Settings
    const serverTimezone = "<%= serverTimezone %>";
    const browserTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    if(serverTimezone !== browserTimezone){
        const msg = `Server's timezone: <b>${serverTimezone}</b> <br>
            Your timezone: <b>${browserTimezone}</b> <br>
            Make sure to adjust the times to match your expectations.`;
        $('#frmMonitor-timezoneAlert').html(msg);
    }


    const resizeTextArea = (el) => {
        el.style.height = "auto";
        el.style.height = `${el.scrollHeight+2}px`;
    }

    const expandables = document.getElementsByClassName('expandable-textarea');
    for (const el of expandables) {
        el.onkeyup = (ev) =>{
            resizeTextArea(el);
        }
        el.onfocus = (ev) =>{
            resizeTextArea(el);
        }
    }

    const tabChangers = document.querySelectorAll('#tabSelector > li > a');
    for (const el of tabChangers) {
        el.onclick = (ev) => {
            setTimeout(() => {
                const visibleExpandables = document.querySelectorAll('#nav-tabContent .show .expandable-textarea');
                for (const el of visibleExpandables) {
                    resizeTextArea(el);
                }
            }, 500);
        }
    }

    //MARK: Save Global Settings
    $('#frmGlobal-save').click(function () {
        let data = {
            serverName: $('#frmGlobal-serverName').val().trim(),
            language: $('#frmGlobal-language').val(),
        }
        if (!data.serverName.length) {
            return $.notify({ message: 'The fields with "*" are required.' }, { type: 'warning' });
        }
        const notify = $.notify({ message: '<p class="text-center">Saving...</p>' }, {});

        txAdminAPI({
            type: "POST",
            url: '/settings/save/global',
            data: data,
            success: function (data) {
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });


    //MARK: Save FXServer Settings
    $('#frmFXServer-save').click(function () {
        let data = {
            serverDataPath: $('#frmFXServer-serverDataPath').val().trim(),
            cfgPath: $('#frmFXServer-cfgPath').val().trim(),
            commandLine: $('#frmFXServer-commandLine').val().trim(),
            onesync: $('#frmFXServer-onesync').val(),
            autostart: $('#frmFXServer-autostart').is(':checked'),
            quiet: $('#frmFXServer-quiet').is(':checked')
        }
        if (!data.serverDataPath.length || !data.cfgPath.length) {
            return $.notify({ message: 'The fields with "*" are required.' }, { type: 'warning' });
        }
        if (data.commandLine.includes(' onesync ')){
            return $.notify({ message: 'You cannot set onesync in Additional Arguments. Please use the selectbox below it.' }, { type: 'warning' });
        }
        //Removing menu beta convar (v4.9)
        data.commandLine = data.commandLine.replace(/\+?setr? txEnableMenuBeta true\s?/gi, '');
        const notify = $.notify({ message: '<p class="text-center">Saving...</p>' }, {});

        txAdminAPI({
            type: "POST",
            url: '/settings/save/fxserver',
            data: data,
            success: function (data) {
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });


    //MARK: Save Player Manager Settings
    $('#frmPlayerManager-save').click(function () {
        const data = {
            whitelistMode: $('#frmPlayerManager-whitelistMode').val(),
            whitelistRejectionMessage: $('#frmPlayerManager-whitelistRejectionMessage').val().trim(),
            whitelistedDiscordRoles: $('#frmPlayerManager-whitelistedDiscordRoles').val().trim(),
            onJoinCheckBan: $('#frmPlayerManager-onJoinCheckBan').is(':checked'),
            requiredBanHwidMatches: $('#frmPlayerManager-requiredBanHwidMatches').val(),
            banRejectionMessage: $('#frmPlayerManager-banRejectionMessage').val().trim(),
        }
        const notify = $.notify({ message: '<p class="text-center">Saving...</p>' }, {});

        txAdminAPI({
            type: "POST",
            url: '/settings/save/playerDatabase',
            data: data,
            success: function (data) {
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });


    //MARK: Save Monitor Settings
    $('#frmMonitor-save').click(function () {
        let data = {
            restarterSchedule: $('#frmMonitor-restarterSchedule').val().trim(),
            resourceStartingTolerance: $('#frmMonitor-resourceStartingTolerance').val(),
        }
        const notify = $.notify({ message: '<p class="text-center">Saving...</p>' }, {});

        txAdminAPI({
            type: "POST",
            url: '/settings/save/monitor',
            data: data,
            success: function (data) {
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });


    //MARK: Save Discord Settings
    let jsonBeingEdited = false;
    let defaultOfJsonBeingEdited = false;
    const discEls = {
        modal: document.getElementById('modJsonEditor'),
        title: document.getElementById('modJsonEditor-title'),
        cmTarget: document.getElementById('modJsonEditor-cmTarget'),
        externalEditorBtn: document.getElementById('modJsonEditor-externalEditorBtn'),
        saveBtn: document.getElementById('modJsonEditor-saveBtn'),
        revertBtn: document.getElementById('modJsonEditor-revertBtn'),
        embedJsonBtn: document.getElementById('frmDiscord-editStatusEmbedJsonBtn'),
        embedJsonText: document.getElementById('frmDiscord-statusEmbedJson'),
        embedJsonDefault: document.getElementById('frmDiscord-statusEmbedJsonDefault'),
        embedConfigJsonBtn: document.getElementById('frmDiscord-editStatusEmbedConfigJsonBtn'),
        embedConfigJsonText: document.getElementById('frmDiscord-statusEmbedConfigJson'),
        embedConfigJsonDefault: document.getElementById('frmDiscord-statusEmbedConfigJsonDefault'),
    }
    const setJsonEditor = (jsonString) => {
        if(window.CMInstance){
            window.CMInstance.toTextArea();
            window.CMInstance = null;
        }
        discEls.cmTarget.value = jsonString;
        window.CMInstance = CodeMirror.fromTextArea(discEls.cmTarget, {
            mode: "yaml", //couldn't find the json one
            autoRefresh:true,
            lineNumbers:true,
            lineWrapping: true,
            theme: "lucario"
        });
    }
    
    discEls.revertBtn.addEventListener('click', (e) => {
        setJsonEditor(defaultOfJsonBeingEdited);
    });
    discEls.embedJsonBtn.addEventListener('click', (e) => {
        discEls.title.textContent = 'Embed JSON Editor';
        jsonBeingEdited = discEls.embedJsonText;
        defaultOfJsonBeingEdited = discEls.embedJsonDefault.value;
        setJsonEditor(discEls.embedJsonText.value);
        $('#modJsonEditor').modal('show');
    });
    discEls.embedConfigJsonBtn.addEventListener('click', (e) => {
        discEls.title.textContent = 'Embed Config JSON Editor';
        jsonBeingEdited = discEls.embedConfigJsonText;
        defaultOfJsonBeingEdited = discEls.embedConfigJsonDefault.value;
        setJsonEditor(discEls.embedConfigJsonText.value);
        $('#modJsonEditor').modal('show');
    });
    discEls.saveBtn.addEventListener('click', (e) => {
        if(jsonBeingEdited){
            const editorData = window.CMInstance.getValue();
            //NOTE: don't need this anymore since we are using jsonrepair on the backend
            //It would be better to use it on the frontend, but no react, no luck.
            // try {
            //     const parsed = JSON.parse(editorData);
            // } catch (error) {
            //     const notify = $.notify(
            //         {message: `<b>Invalid JSON:</b><br>${error.message}`}, 
            //         {type: 'danger'}
            //     );
            //     return;
            // }
            jsonBeingEdited.value = window.CMInstance.getValue();
            jsonBeingEdited = false;
        }
        $('#modJsonEditor').modal('hide');
        window.CMInstance.toTextArea();
        window.CMInstance = null;
        discEls.cmTarget.value = '';
    });
    discEls.externalEditorBtn.addEventListener('click', (e) => {
        if(!jsonBeingEdited) return;
        const editorData = window.CMInstance.getValue();
        const leftText = (jsonBeingEdited.id === 'frmDiscord-statusEmbedJson')
            ? window.CMInstance.getValue()
            : discEls.embedJsonText.value;
        const rightText = (jsonBeingEdited.id === 'frmDiscord-statusEmbedConfigJson')
            ? window.CMInstance.getValue()
            : discEls.embedConfigJsonText.value;
        const jsonEditorUrl = `https://jsoneditoronline.org/#left=json.${encodeURIComponent(leftText)}&right=json.${encodeURIComponent(rightText)}`;
        discEls.externalEditorBtn.setAttribute('href', jsonEditorUrl);
    });

    $('#frmDiscord-save').click(function () {
        let data = {
            enabled: ($('#frmDiscord-enabled').is(':checked') === true),
            token: $('#frmDiscord-token').val().trim(),
            guild: $('#frmDiscord-guild').val().trim(),
            announceChannel: $('#frmDiscord-announceChannel').val().trim(),
            embedJson: discEls.embedJsonText.value.trim(),
            embedConfigJson: discEls.embedConfigJsonText.value.trim(),
        };
        if (data.enabled && (!data.token.length || !data.guild.length || !data.embedJson.length || !data.embedConfigJson.length)) {
            return $.notify({ message: 'The fields with "*" are required when the bot is enabled.' }, { type: 'warning' });
        }
        const { notify , progressTimerId } = startHoldingNotify('Saving');

        txAdminAPI({
            type: "POST",
            url: '/settings/save/discord',
            data: data,
            timeout: REQ_TIMEOUT_REALLY_REALLY_LONG,
            success: function (data) {
                clearInterval(progressTimerId);
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                clearInterval(progressTimerId);
                message = (message === 'timeout')
                    ? 'The Discord API is taking too much time to respond.'
                    : `XHR Error: ${message}`;
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });


    //MARK: Save Menu Settings
    const pageKeyEl = document.getElementById('frmMenu-pageKey');
    pageKeyEl.onkeydown = (e) => {
        if (!e.metaKey) e.preventDefault();

        if(["Escape", "Backspace"].includes(e.code)){
            pageKeyEl.value = 'Tab';
        }else{
            pageKeyEl.value = e.code;
        }
    }

    $('#frmMenu-save').click(function () {
        let data = {
            menuEnabled: ($('#frmMenu-enabled').is(':checked') === true),
            menuAlignRight: ($('#frmMenu-alignRight').is(':checked') === true),
            menuPageKey: $('#frmMenu-pageKey').val().trim(),
            hideAdminInPunishments: ($('#frmMenu-hideAdminInPunishments').is(':checked') === true),
            hideAdminInMessages: ($('#frmMenu-hideAdminInMessages').is(':checked') === true),
            hideDefaultAnnouncement: ($('#frmMenu-hideDefaultAnnouncement').is(':checked') === true),
            hideDefaultDirectMessage: ($('#frmMenu-hideDefaultDirectMessage').is(':checked') === true),
            hideDefaultWarning: ($('#frmMenu-hideDefaultWarning').is(':checked') === true),
            hideDefaultScheduledRestartWarning: ($('#frmMenu-hideDefaultScheduledRestartWarning').is(':checked') === true),
        };
        const notify = $.notify({ message: '<p class="text-center">Saving...</p>' }, {});

        txAdminAPI({
            type: "POST",
            url: '/settings/save/menu',
            data: data,
            success: function (data) {
                if (checkApiLogoutRefresh(data)) return;
                updateMarkdownNotification(data, notify);
            },
            error: function (xmlhttprequest, textstatus, message) {
                notify.update('progress', 0);
                notify.update('type', 'danger');
                notify.update('message', message);
            }
        });
    });

</script>
